<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>XML vs CSV コンバーター</title>
    </head>

    <body>
        <header class="header-top">
            <div class="wrap">
                <nav>
                    <ul class="nav-list">
                        <il class="nav-item"><a href="/" class="nav-link">XML を変換</a></il>
                        <il class="nav-item"><a href="/csv2xml" class="nav-link">CSV を変換</a></il>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="wrap">
                <div class="container-has-shadow"><span></span>
                    <div class="heading-body">
                        <h1 class="heading-content">
                            <span class="strong">XML</span> を <span class="strong">CSV</span> へ変換する
                        </h1>
                    </div>
                    <form method="post" enctype="multipart/form-data" class="btn-wrap">
                        <div class="select-body">
                            <p class="description">変換する<span class="strong">XML</span> ファイルを選択してください</p>
                            <input type="file" name="file" class="select">
                        </div>

                        <input type="submit" value="ファイルをアップロードする" class="btn">
                        <button class="btn"><a href="/data/download" class="btn-link">ファイルをダウンロードする</a></button>
                    </form>
                </div>
            </div>

        </main>
    </body>

</html>
